{% extends "base.html" %} {% block content %}
<h1>Welcome to form</h1>
<div style="width: 50%; margin: auto; height: 50px">
  <form method="post" action="/about/">
    {% csrf_token %}
    
    <div class="mb-3">
      <label>Name</label>
      <input
        type="name"
        class="form-control"
        id="name"
        aria-describedby="nameHelp"
        placeholder="Enter name"
        name="username"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        name="email"
      />
    </div>
    <select class="form-select mb-3" aria-label="Default select example" name="select">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
