{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Home!</h1>
    {% if data %}
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Roll Number</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Father</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in data %}
            <tr>
                <td scope="col">{{ user.roll }}</td>
                <td scope="col">{{ user.name }}</td>
                <td scope="col">{{ user.address }}</td>
                <td scope="col">{{ user.father_name }}</td>
                <td scope="col"><a class="btn btn-danger " href="{% url 'delete-student' user.roll %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h1>No data to show</h1>
    {% endif %}
{% endblock %}